body{
background-image: url(HD-wallpaper-colors-shade-colors-shade-background.jpg);
    background-color: black;
  }
  
  h1{
    background-color: #040624;
    color: rgb(255, 255, 255);
  }
  form{
  
  background-color: #040624;
  color:aliceblue
  }